.formOuter{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.heading{
  color: #9f7aea;
  text-align: center;
  margin: 3rem;
  margin-top: 0;
  font-size: 3rem;
}
.main{
  background-color: #9f7aea;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem;
  border-radius: 1rem;
  
}
.fields{
  color: white;
  display: flex;
  flex-direction: column;
  padding: .8rem;
  font-size: 1.5rem;
}
.label{
  border-radius: 5px;
  margin: .5rem;
  width: 40%;
  padding: .2rem;
}
.submitBtn{
  border: 1px solid rgb(73, 72, 72);
  border-radius: 5px;
  padding: .3rem;
  color: white;
  background-color: #7946e0;
  font-size: 1.1rem;
}
.link{
  text-decoration: none;
}